*{
    margin: 0;
}


#Test{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px ;
    position: relative; 
    overflow-wrap: normal;
    background-color: rgb(105, 105, 255);
    width: 25vw;
}

#Edit{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 166, 0, 0.247);
    position: absolute;
}

#fuckyoupost{
    background-color: rgb(31, 31, 31);
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

#DataContainer{
    background-color: purple;
    position: relative;
    float: right;
    width: 30vw;
    height: 100%;
    top: 0vh;
    overflow-y: scroll;
}

.DataBox{
    width: 20.75vw;
    padding: 1vh;
    
}

#DeleteButton{
    border: none;
    position: unset;
    float: right;
    margin-right: 1vh;
    margin-top: 1vh;
}

#CalendarBox{
    width: 1000px;
    position: absolute;
    min-height: 700px;
    background-color: #dbdbdb;
    overflow: auto;
    right: 35%;
    top: 10%;
    border-radius: 10px 10px 10px;
}

#CalNum{
    text-align: center;
}

input[type=submit].CalDaySquare{
    margin: 0;
    font-size: 50px;
    border-radius: 100% 100% 100%;
    border: none;
}

#BackB{
    position: absolute;
    top: 570px;
    left: 0px;
}

#Back{
    font-size: 40px;
}

#DateDisplay{
    font-size: 55px;
    height: 75px;
    background-color: rgb(165, 10, 152);
    float: inline-start;
    left: 10px;
}

#Dates{
    text-align: center;
}

.CalDaySquare{
    background-color: rgb(228, 228, 228);
    width: 100px;
    height: 100px;
    margin: 12.5px;
    float: left;
    font-size: 4vh;
    border-radius: 100% 100% 100%;
    border: none;
}

.CalDaySquare:hover{
    background-color: rgb(115, 255, 0);
}

#YearC.CalDaySquare{
    background-color: rgb(255, 45, 45);
    margin: 10px;
    font-size: 40px;
}

#YearM.CalDaySquare{
    background-color: rgb(255, 45, 45);
    margin: 10px;
    margin-top: 35px;
    width: 100px;
    height: 50px;
}

#YearC2.CalDaySquare{
    background-color: rgb(255, 45, 45);
    font-size: 40px;

}

#YearM2.CalDaySquare{
    background-color: rgba(255, 45, 45, 0);
    position: absolute;
    top: 100px;
    width: 100px;
    height: 50px;
    font-size: 50px;
}
    

#DayC.CalDaySquare{
    background-color: rgb(255, 45, 45);
}

#DayC.CalDaySquare:hover{
    background-color: rgb(115, 255, 0);
}

#ChooseDate{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
}
#CurrentDate{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
}
#EditPost{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
}
.EditItems{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
}


