*{
    margin: 0;
    
}

#Test{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px ;
    position: relative; 
    overflow-wrap: normal;
    background-color: rgb(105, 105, 255);
    width: 25vw;
}

#fuckyoupost{
    background-color: orange;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

#DataContainer{
    background-color: purple;
    position: relative;
    float: right;
    width: 30vw;
    height: 100vh;
    top: 0vh;
    overflow-y: scroll;
}

.DataBox{
    width: 20.75vw;
    padding: 1vh;
    
}

#DeleteButton{
    border: none;
    float: right;
    margin-right: 1vh;
    margin-top: 1vh;
}

#CalendarBox{
    width: 45vw;
    min-height: 60vh;
    background-color: #ff69b4;
    position: relative;
    overflow: auto;
}

#CalNum{
    text-align: center;
}

input[type=submit].CalDaySquare{
    background-color: rgb(9, 255, 0);
    width: 10vh;
    height: 10vh;
    margin: 0.6vh;
    float: left;
    font-size: 7vh;
    border: none;
}

#Year{
    background-color: rgb(9, 255, 0);
    width: 10vh;
    height: 10vh;
    margin: 0.6vh;
    float: left;
    font-size: 4vh;
    border: none;
    
    
}

